extends layout

block content

  nav
    ul
      li.user Mike Alizade
        span Member since 2013
      li.active Dashboard
      li Community
      li Blog
      li Shop
      li Log out


  div#content
    h1.page-title Dashboard
    div.updates Congratulations, you've lost 1kg in the last 2 weeks!
    div#chart-container
    div#search-api-container
