extends layout

block content

  nav
    ul
      li.user Mike Alizade
        img(src="images/mugshot.png")
        span Member since 2013
      li.active
        span.fa.fa-dashboard
        span Dashboard
      li
        span.fa.fa-group
        span Community
      li
        span.fa.fa-feed
        span Blog
      li
        span.fa.fa-shopping-basket
        span Shop
      li
        span.fa.fa-sign-out
        span Log out


  div#content
    h1.page-title
      span.fa.fa-dashboard
      span Dashboard
    div.updates This fully interactive demo application is to help users track weight and calories. You can adjust your daily calorie intake, search the database, add and remove foods.
      span Built with ReactJS, ES6, Baobab, node, express, mongoDB. It is not yet responsive.
    div#chart-container
    div#search-api-container
