doctype html
html
    head
        title= title
        link(href='http://fonts.googleapis.com/css?family=Roboto:400,700')
        link(href='http://fonts.googleapis.com/css?family=Oswald:400,700')
        link(rel='stylesheet', href='/css/main.css')
        script(src='https://use.fontawesome.com/d4f60b527b.js')

    body
        block content

        script(src="app.js")