html,
body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #283A47;
    font-size: 1rem;
    color: $white;
    height: 110%;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

input,
button {
    outline: none;
}

ul {
    list-style: none;
}